article,
aside,
details,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
html {
  font-family: sans-serif;
  color: #000;
  background: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
}
legend {
  padding: 0;
  border: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  outline: none;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
@font-face {
  font-family: "pf_beausans_proregular";
  font-weight: normal;
  font-style: normal;
  src: url("../html/fonts/pfbeausanspro-regular/pfbeausanspro-regular.otf.eot");
  src: url("../html/fonts/pfbeausanspro-regular/pfbeausanspro-regular.otf.eot?#iefix") format("embedded-opentype"), url("../html/fonts/pfbeausanspro-regular/pfbeausanspro-regular.otf.woff") format("woff"), url("../html/fonts/pfbeausanspro-regular/pfbeausanspro-regular.otf.ttf") format("truetype"), url("../html/fonts/pfbeausanspro-regular/pfbeausanspro-regular.otf.svg#pf_beausans_proregular") format("svg");
}
@font-face {
  font-family: "pf_beausans_pro_semibold";
  font-weight: normal;
  font-style: normal;
  src: url("../html/fonts/pf-beau-sanss-pro-semibold/pfbeausanspro-semibold.otf.eot");
  src: url("../html/fonts/pf-beau-sanss-pro-semibold/pfbeausanspro-semibold.otf.eot?#iefix") format("embedded-opentype"), url("../html/fonts/pf-beau-sanss-pro-semibold/pfbeausanspro-semibold.otf.woff") format("woff"), url("../html/fonts/pf-beau-sanss-pro-semibold/pfbeausanspro-semibold.otf.ttf") format("truetype"), url("../html/fonts/pf-beau-sanss-pro-semibold/pfbeausanspro-semibold.otf.svg#pf_beausans_pro_semibold") format("svg");
}
@font-face {
  font-family: "segoe_ui_regular";
  font-weight: normal;
  font-style: normal;
  src: url("../html/fonts/segoe-ui-regular/segoeui0regular.eot");
  src: url("../html/fonts/segoe-ui-regular/segoeui0regular.eot?#iefix") format("embedded-opentype"), url("../html/fonts/segoe-ui-regular/segoeui0regular.woff") format("woff"), url("../html/fonts/segoe-ui-regular/segoeui0regular.ttf") format("truetype"), url("../html/fonts/segoe-ui-regular/segoeui0regular.svg#segoe_ui_regular") format("svg");
}
@font-face {
  font-family: "segoe_ui_semibold";
  font-weight: normal;
  font-style: normal;
  src: url("../html/fonts/segoe-ui-regular/seguisb.eot");
  src: url("../html/fonts/segoe-ui-semibold/seguisb.eot?#iefix") format("embedded-opentype"), url("../html/fonts/segoe-ui-semibold/seguisb.woff") format("woff"), url("../html/fonts/segoe-ui-semibold/seguisb.ttf") format("truetype"), url("../html/fonts/segoe-ui-semibold/seguisb.svg#segoe_ui_semibold") format("svg");
}
@font-face {
  font-family: "segoe_ui_light";
  font-weight: normal;
  font-style: normal;
  src: url("../html/fonts/segoe-ui-light/segoeuil.eot");
  src: url("../html/fonts/segoe-ui-light/segoeuil.eot?#iefix") format("embedded-opentype"), url("../html/fonts/segoe-ui-light/segoeuil.woff") format("woff"), url("../html/fonts/segoe-ui-light/segoeuil.ttf") format("truetype"), url("../html/fonts/segoe-ui-light/segoeuil.svg#segoe_ui_light") format("svg");
}
@font-face {
  font-family: "myriad_pro_regular";
  font-weight: normal;
  font-style: normal;
  src: url("../html/fonts/myriadpro-regular/myriadpro-regular.eot");
  src: url("../html/fonts/myriadpro-regular/myriadpro-regular.eot?#iefix") format("embedded-opentype"), url("../html/fonts/myriadpro-regular/myriadpro-regular.woff") format("woff"), url("../html/fonts/myriadpro-regular/myriadpro-regular.ttf") format("truetype"), url("../html/fonts/myriadpro-regular/myriadpro-regular.svg#myriad_pro_regular") format("svg");
}
body {
  font: 16px/22px Arial, Helvetica, sans-serif;
  background: #ffffff;
}
h1 {
  font: 42px/55px pf_beausans_proregular;
  font-smooth: always;
  text-transform: uppercase;
  color: #404040;
}
h2 {
  font: 30px pf_beausans_proregular;
  color: #404040;
}
h3 {
  font: 18px segoe_ui_regular;
  color: #404040;
}
h4 {
  font: 16px segoe_ui_semibold;
  color: #ffffff;
}
h5 {
  font: 14px segoe_ui_semibold;
  color: #ffffff;
}
.wrap {
  width: 1000px;
  margin: 25px auto;
  padding: 0;
}
header {
  display: block;
  position: relative;
  z-index: 100;
}
.page-content {
  position: relative;
  z-index: 5;
  margin-top: 30px;
}
.right-aside {
  float: right;
  width: 280px;
}
.clear {
  clear: both;
}
.b-title {
  margin-left: 20px;
}
.b-title-icon {
  margin-bottom: 32px;
}
.b-title-icon .icon {
  display: block;
  float: left;
  width: 53px;
  height: 54px;
  margin: -8px 6px 0 0;
  background: url("../images/sprite.png") no-repeat;
}
.b-title-icon.ln .icon {
  background-position: 0 -113px;
}
.b-title-icon.int-e .icon {
  background-position: -52px -114px;
}
.pagination {
  width: 436px;
  margin: 0 422px 0 auto;
  font: 24px/35px myriad_pro_regular;
  color: #187097;
}
.pagination .prev-page,
.pagination .next-page {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: top;
}
.pagination .prev-page {
  float: left;
  margin-right: 18px;
  background: url("../images/sprite.png") no-repeat -169px -215px;
}
.pagination .prev-page:hover {
  background-position: -169px -179px;
}
.pagination .next-page {
  float: right;
  background: url("../images/sprite.png") no-repeat -210px -215px;
}
.pagination .next-page:hover {
  background-position: -210px -179px;
}
.pagination ul {
  white-space: nowrap;
  word-spacing: 18px;
  word-wrap: normal;
}
.pagination ul > li {
  display: inline-block;
  vertical-align: top;
}
.pagination ul > li a {
  text-decoration: none;
}
.pagination ul > li a:hover {
  color: #404040;
}
.pagination ul > li.active-page a {
  font: 24px/35px myriad_pro_regular, sans-serif;
  color: #404040;
}
.pagination ul > li,
.pagination ul > li > a {
  font: 24px/35px myriad_pro_regular;
  color: #187097;
}
.main-vnz {
  zoom: 1;
  position: relative;
  z-index: 100;
  margin-bottom: 21px;
  *margin-bottom: 21px;
}
.main-vnz .action-bar {
  float: right;
  width: 282px;
}
.main-vnz .action-bar .social-share {
  float: right;
  margin: 11px 0 9px;
}
.main-vnz .action-bar .social-share .vk-vnz,
.main-vnz .action-bar .social-share .fb-vnz {
  width: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.main-vnz .action-bar .social-share .vk-vnz {
  float: left;
  text-indent: -9999px;
  background: #3aa7d6 url("../images/sprite.png") no-repeat -178px 3px;
}
.main-vnz .action-bar .social-share .vk-vnz:hover {
  background-color: #2d9ed0;
}
.main-vnz .action-bar .social-share .fb-vnz {
  margin-left: 35px;
  text-indent: -9999px;
  background: #5b78bb url("../images/sprite.png") no-repeat -205px 3px;
}
.main-vnz .action-bar .social-share .fb-vnz:hover {
  background-color: #4462a8;
}
.main-vnz .action-bar .search-line {
  position: absolute;
  bottom: 0;
  height: 30px;
}
.main-vnz .action-bar .search-line input[name="search"] {
  width: 245px;
  height: 28px;
  padding: 0 10px;
  font: 14px/28px Arial, Helvetica, sans-serif;
  color: #909090;
  border: 1px solid #d8d8d8;
  position: relative;
  padding-right: 25px;
}
.main-vnz .action-bar .search-line input[name="search"]:hover,
.main-vnz .action-bar .search-line input[name="search"]:active,
.main-vnz .action-bar .search-line input[name="search"]:focus {
  border: 1px solid #bbbbbb;
}
.main-vnz .action-bar .search-line button[name="submit"] {
  width: 28px;
  height: 28px;
  border: none;
  background: url("../images/sprite.png") no-repeat -137px 3px;
  position: absolute;
  right: 1px;
  bottom: 1px;
  *margin-top: 1px;
  *top: 1px;
}
.main-vnz .action-bar .search-line button[name="submit"]:hover {
  background-color: #efefef;
}
.main-vnz .name-vnz .title-vnz a {
  font: 42px/55px pf_beausans_proregular;
  font-smooth: always;
  text-transform: uppercase;
  color: #404040;
  text-decoration: none;
}
.main-vnz .name-vnz .description-vnz {
  font: 18px segoe_ui_regular;
  color: #404040;
}
.nav-vnz {
  display: block;
  position: relative;
  height: 50px;
  font-size: 0;
  line-height: 0;
  letter-spacing: -4px;
  background: #323a45;
}
.nav-vnz.active {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #00a47c;
}
.nav-vnz li {
  display: inline-block;
  float: left;
}
.nav-vnz li.about-vnz {
  position: relative;
  background: #323a45;
}
.nav-vnz li.about-vnz .dropdown-menu {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 0;
  width: 250px;
  background: #2b57d1;
}
.nav-vnz li.about-vnz .dropdown-menu ul li {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  *display: block;
}
.nav-vnz li.about-vnz .dropdown-menu ul li a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.nav-vnz li.about-vnz .dropdown-menu ul li.odd {
  width: 100%;
  background: #3d66da;
}
.nav-vnz li.about-vnz .dropdown-menu ul li.odd:hover {
  background: #375cc4;
}
.nav-vnz li.about-vnz .dropdown-menu ul li:hover {
  background: #274ebc;
}
.nav-vnz li.about-vnz:hover {
  color: #103da2;
  background: #3d66da;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -ms-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
.nav-vnz li.about-vnz:hover .dropdown-menu {
  display: block;
}
.nav-vnz li.specialty {
  background: #323a45;
}
.nav-vnz li.specialty:hover {
  color: #136c93;
  background: #2d9ed0;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -ms-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
.nav-vnz li.specialty:hover .dropdown-menu {
  display: block;
}
.nav-vnz li.specialty .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  letter-spacing: normal;
  background: #2d9ed0;
}
.nav-vnz li.specialty .dropdown-menu .department-holder {
  clear: both;
  overflow: hidden;
  background: #2d9ed0;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c {
  float: left;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c {
  float: right;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c {
  width: 50%;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office.last-item,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office.last-item {
  padding-bottom: 40px;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office.last-item .about-office,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office.last-item .about-office {
  margin-top: -91px !important;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office.last-item .about-office ul li.last-item-li,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office.last-item .about-office ul li.last-item-li {
  border-bottom: 1px solid #0c8bc3!important;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department.top .office.last-item,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department.top .office.last-item {
  padding-bottom: 40px;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department.top .office.last-item .about-office,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department.top .office.last-item .about-office {
  margin-top: -90px;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .department-title,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .department-title {
  display: block;
  margin: 0;
  padding: 0 0 0 20px;
  font: 24px/50px segoe_ui_semibold;
  color: #fff;
  background: #3aafe2;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office {
  position: relative;
  width: 300px;
  padding: 15px 0 15px 20px;
  border-bottom: 1px solid #0c8bc3;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office.last-item,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office.last-item {
  border-bottom: none;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office:hover,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office:hover {
  cursor: pointer;
  background: #0c8bc3;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office:hover .about-office,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office:hover .about-office {
  display: block;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office.od,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office.od {
  border-bottom: none;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office.od .about-office,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office.od .about-office {
  margin-top: -135px;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office .title-office,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office .title-office {
  margin: 0;
  padding: 0;
  font: 18px/20px segoe_ui_semibold;
  color: #abd9ed;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office .title-office.koi,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office .title-office.koi {
  width: 195px;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office .about-office,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office .about-office {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 180px;
  background: #0c8bc3;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office .about-office ul li,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office .about-office ul li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #0078ad;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office .about-office ul li.last-item-li,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office .about-office ul li.last-item-li {
  border-bottom: none;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office .about-office ul li a,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office .about-office ul li a {
  display: block;
  padding: 0 0 0 20px;
  font: 14px/30px segoe_ui_semibold;
  text-transform: none;
  color: #abd9ed;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office .about-office ul li:hover,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office .about-office ul li:hover {
  background: #0078ad;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department .office .about-office.active,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department .office .about-office.active {
  display: block;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department.bottom .about-office.fc,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department.bottom .about-office.fc,
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department.bottom .about-office.sts,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department.bottom .about-office.sts {
  margin-top: -1px;
  border-bottom: 1px solid #0c8bc3;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .left-c .department.bottom .about-office.md,
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department.bottom .about-office.md {
  margin-top: -122px;
  border-bottom: 1px solid #0c8bc3;
}
.nav-vnz li.specialty .dropdown-menu .department-holder .right-c .department.bottom .office.last-item {
  padding-bottom: 19px;
}
.nav-vnz li.specialty .dropdown-menu.active {
  display: block;
}
.nav-vnz li.for-student {
  position: relative;
  background: #323a45;
}
.nav-vnz li.for-student .dropdown-menu {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 0;
  width: 250px;
  background: #d02545;
}
.nav-vnz li.for-student .dropdown-menu ul li {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  *display: block;
}
.nav-vnz li.for-student .dropdown-menu ul li a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.nav-vnz li.for-student .dropdown-menu ul li.odd {
  width: 100%;
  background: #ec385a;
}
.nav-vnz li.for-student .dropdown-menu ul li.odd:hover {
  background: #d43251;
}
.nav-vnz li.for-student .dropdown-menu ul li:hover {
  background: #bb213e;
}
.nav-vnz li.for-student:hover {
  color: #99112b;
  background: #ec385a;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -ms-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
.nav-vnz li.for-student:hover .dropdown-menu {
  display: block;
}
.nav-vnz li.partnership {
  background: #323a45;
}
.nav-vnz li.partnership .dropdown-menu {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 0;
  width: 210px;
  background: #00906c;
}
.nav-vnz li.partnership .dropdown-menu ul li {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  *display: block;
}
.nav-vnz li.partnership .dropdown-menu ul li a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.nav-vnz li.partnership .dropdown-menu ul li.odd {
  width: 100%;
  background: #00a47c;
}
.nav-vnz li.partnership .dropdown-menu ul li.odd:hover {
  background: #008c6a;
}
.nav-vnz li.partnership .dropdown-menu ul li:hover {
  background: #007558;
}
.nav-vnz li.partnership .dropdown-menu {
  right: 0!important;
  left: auto;
}
.nav-vnz li.partnership:hover {
  color: #00654c;
  background: #00a47c;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -ms-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
.nav-vnz li.partnership:hover .dropdown-menu {
  display: block;
}
.nav-vnz li.odd {
  background-color: #3d4754;
}
.nav-vnz li.odd.news-events {
  position: relative;
}
.nav-vnz li.odd.news-events .dropdown-menu {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 0;
  width: 200px;
  background: #e79e00;
}
.nav-vnz li.odd.news-events .dropdown-menu ul li {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  *display: block;
}
.nav-vnz li.odd.news-events .dropdown-menu ul li a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.nav-vnz li.odd.news-events .dropdown-menu ul li.odd {
  width: 100%;
  background: #f2b600;
}
.nav-vnz li.odd.news-events .dropdown-menu ul li.odd:hover {
  background: #d9a300;
}
.nav-vnz li.odd.news-events .dropdown-menu ul li:hover {
  background: #cf8e00;
}
.nav-vnz li.odd.news-events:hover {
  color: #9c6b00;
  background: #f2b600;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -ms-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
.nav-vnz li.odd.news-events:hover .dropdown-menu {
  display: block;
}
.nav-vnz li.odd.for-enrollee {
  position: relative;
}
.nav-vnz li.odd.for-enrollee .dropdown-menu {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 0;
  width: 250px;
  background: #5daa1a;
}
.nav-vnz li.odd.for-enrollee .dropdown-menu ul li {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  *display: block;
}
.nav-vnz li.odd.for-enrollee .dropdown-menu ul li a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.nav-vnz li.odd.for-enrollee .dropdown-menu ul li.odd {
  width: 100%;
  background: #6cbb27;
}
.nav-vnz li.odd.for-enrollee .dropdown-menu ul li.odd:hover {
  background: #58a417;
}
.nav-vnz li.odd.for-enrollee .dropdown-menu ul li:hover {
  background: #419414;
}
.nav-vnz li.odd.for-enrollee:hover {
  color: #3a7208;
  background: #6cbb27;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -ms-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
.nav-vnz li.odd.for-enrollee:hover .dropdown-menu {
  display: block;
}
.nav-vnz li.odd.distance-learning {
  position: relative;
}
.nav-vnz li.odd.distance-learning .dropdown-menu {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 0;
  width: 250px;
  background: #7d28a9;
}
.nav-vnz li.odd.distance-learning .dropdown-menu ul li {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  *display: block;
}
.nav-vnz li.odd.distance-learning .dropdown-menu ul li a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.nav-vnz li.odd.distance-learning .dropdown-menu ul li.odd {
  width: 100%;
  background: #903abc;
}
.nav-vnz li.odd.distance-learning .dropdown-menu ul li.odd:hover {
  background: #7b30a2;
}
.nav-vnz li.odd.distance-learning .dropdown-menu ul li:hover {
  background: #6a2191;
}
.nav-vnz li.odd.distance-learning:hover {
  color: #510578;
  background: #903abc;
  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -ms-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
.nav-vnz li.odd.distance-learning:hover .dropdown-menu {
  display: block;
}
.nav-vnz li a {
  font: 14px segoe_ui_semibold;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 17px;
  line-height: 50px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: normal;
}
.slider-vnz {
  overflow: hidden;
  position: relative;
  z-index: 100!important;
  width: 710px;
  height: 410px;
}
.slider-vnz .content {
  width: 10000px;
  height: 410px;
}
.slider-vnz .content .item {
  display: inline-block;
  float: left;
  width: 710px;
  height: 410px;
}
.slider-vnz .content .item .item-link {
  display: block;
  width: 100%;
  height: 320px;
}
.slider-vnz .content .item .item-link .image {
  display: block;
  clear: both;
  width: 100%;
  height: 100%;
  border: none;
}
.slider-vnz .content .item .info-line {
  clear: both;
  width: 570px;
  height: 90px;
  margin: 0 auto;
  line-height: 90px;
}
.slider-vnz .content .item .info-line .il-content {
  font-size: 0;
  line-height: 0;
  letter-spacing: -4px;
}
.slider-vnz .content .item .info-line .il-content .il-title-holder {
  font: 20px/25px segoe_ui_regular;
  color: #ffffff;
  display: inline-block;
  width: 150px;
  height: 70px;
  padding: 10px;
  vertical-align: top;
}
.slider-vnz .content .item .info-line .il-content .il-title-holder .il-title {
  display: inline-block;
  line-height: 16px;
  vertical-align: top;
  letter-spacing: normal;
  text-transform: uppercase;
}
.slider-vnz .content .item .info-line .il-content .il-title-holder .il-icon {
  display: block;
  width: 26px;
  height: 26px;
  margin-bottom: 8px;
  background: url("../images/sprite.png") no-repeat;
}
.slider-vnz .content .item .info-line .il-content .il-link {
  font: 20px/25px segoe_ui_regular;
  color: #ffffff;
  display: inline-block;
  width: 360px;
  height: 60px;
  padding: 15px 20px;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: normal;
}
.slider-vnz .content .item .info-line.about-vnz .il-content .il-title-holder {
  background: #3d66da;
}
.slider-vnz .content .item .info-line.about-vnz .il-content .il-title-holder .il-icon {
  background-position: -1px -60px;
}
.slider-vnz .content .item .info-line.about-vnz .il-content .il-link {
  background: #2b57d1;
}
.slider-vnz .content .item .info-line.news-and-events .il-content .il-title-holder {
  background: #f2b600;
}
.slider-vnz .content .item .info-line.news-and-events .il-content .il-title-holder .il-icon {
  background-position: -29px -60px;
}
.slider-vnz .content .item .info-line.news-and-events .il-content .il-link {
  background: #e79e00;
}
.slider-vnz .content .item .info-line.specialty .il-content .il-title-holder {
  background: #3aafe2;
}
.slider-vnz .content .item .info-line.specialty .il-content .il-title-holder .il-icon {
  background-position: -57px -60px;
}
.slider-vnz .content .item .info-line.specialty .il-content .il-link {
  background: #2d9ed0;
}
.slider-vnz .content .item .info-line.for-enrollee .il-content .il-title-holder {
  background: #6cbb27;
}
.slider-vnz .content .item .info-line.for-enrollee .il-content .il-title-holder .il-icon {
  background-position: -85px -60px;
}
.slider-vnz .content .item .info-line.for-enrollee .il-content .il-link {
  background: #5daa1a;
}
.slider-vnz .content .item .info-line.for-student .il-content .il-title-holder {
  background: #ec385a;
}
.slider-vnz .content .item .info-line.for-student .il-content .il-title-holder .il-icon {
  background-position: -113px -60px;
}
.slider-vnz .content .item .info-line.for-student .il-content .il-link {
  background: #d02545;
}
.slider-vnz .content .item .info-line.distance-learning .il-content .il-title-holder {
  background: #903abc;
}
.slider-vnz .content .item .info-line.distance-learning .il-content .il-title-holder .il-icon {
  background-position: -141px -60px;
}
.slider-vnz .content .item .info-line.distance-learning .il-content .il-link {
  background: #7d28a9;
}
.slider-vnz .content .item .info-line.partnership .il-content .il-title-holder {
  background: #00a47c;
}
.slider-vnz .content .item .info-line.partnership .il-content .il-title-holder .il-icon {
  background-position: -168px -60px;
}
.slider-vnz .content .item .info-line.partnership .il-content .il-link {
  background: #00906c;
}
.slider-vnz .content .item .info-line:hover.about-vnz .il-content .il-title-holder {
  background: #375cc4;
}
.slider-vnz .content .item .info-line:hover.about-vnz .il-content .il-link {
  background: #274ebc;
}
.slider-vnz .content .item .info-line:hover.news-and-events .il-content .il-title-holder {
  background: #d9a300;
}
.slider-vnz .content .item .info-line:hover.news-and-events .il-content .il-link {
  background: #cf8e00;
}
.slider-vnz .content .item .info-line:hover.specialty .il-content .il-title-holder {
  background: #349dcb;
}
.slider-vnz .content .item .info-line:hover.specialty .il-content .il-link {
  background: #288eb2;
}
.slider-vnz .content .item .info-line:hover.for-enrollee .il-content .il-title-holder {
  background: #58a417;
}
.slider-vnz .content .item .info-line:hover.for-enrollee .il-content .il-link {
  background: #419414;
}
.slider-vnz .content .item .info-line:hover.for-student .il-content .il-title-holder {
  background: #d43251;
}
.slider-vnz .content .item .info-line:hover.for-student .il-content .il-link {
  background: #bb213e;
}
.slider-vnz .content .item .info-line:hover.distance-learning .il-content .il-title-holder {
  background: #7b30a2;
}
.slider-vnz .content .item .info-line:hover.distance-learning .il-content .il-link {
  background: #6a2191;
}
.slider-vnz .content .item .info-line:hover.partnership .il-content .il-title-holder {
  background: #008c6a;
}
.slider-vnz .content .item .info-line:hover.partnership .il-content .il-link {
  background: #007558;
}
.slider-vnz .next,
.slider-vnz .prev {
  position: absolute;
  top: 320px;
  width: 70px;
  height: 90px;
}
.slider-vnz .next:hover,
.slider-vnz .prev:hover {
  cursor: pointer;
}
.slider-vnz .next {
  right: 0;
  background: #efefef url("../images/sprite.png") no-repeat -76px -170px;
}
.slider-vnz .next:hover {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  background-color: #d8d8d8;
  background-position: -76px -237px;
}
.slider-vnz .prev {
  left: 0;
  background: #efefef url("../images/sprite.png") no-repeat 13px -170px;
}
.slider-vnz .prev:hover {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  background-color: #d8d8d8;
  background-position: 13px -236px;
}
.last-news .item,
.interesting-events .item,
.news-events-list .item {
  border-bottom: 1px solid #efefef;
}
.last-news .item .item-content .item-text,
.interesting-events .item .item-content .item-text,
.news-events-list .item .item-content .item-text {
  font: 16px/22px Arial, Helvetica, sans-serif;
  color: #086690;
  display: block;
  text-decoration: none;
}
.last-news .item .item-content .item-text:hover,
.interesting-events .item .item-content .item-text:hover,
.news-events-list .item .item-content .item-text:hover {
  text-decoration: underline;
}
.last-news .item .item-content .date-event,
.interesting-events .item .item-content .date-event,
.news-events-list .item .item-content .date-event {
  font: italic 16px/16px Arial, Helvetica, sans-serif;
  color: #de9d00;
  display: block;
  margin: 15px 0 0;
}
.last-news .item .item-content .info-line .date-add,
.interesting-events .item .item-content .info-line .date-add,
.news-events-list .item .item-content .info-line .date-add,
.last-news .item .item-content .info-line .count-views,
.interesting-events .item .item-content .info-line .count-views,
.news-events-list .item .item-content .info-line .count-views,
.last-news .item .item-content .info-line .place-event,
.interesting-events .item .item-content .info-line .place-event,
.news-events-list .item .item-content .info-line .place-event {
  font: italic 14px/16px Arial, Helvetica, sans-serif;
  color: #909090;
  display: inline-block;
  vertical-align: top;
}
.last-news .item .item-content .info-line .date-add,
.interesting-events .item .item-content .info-line .date-add,
.news-events-list .item .item-content .info-line .date-add {
  margin-right: 13px;
}
.last-news .item .item-content .info-line .count-views,
.interesting-events .item .item-content .info-line .count-views,
.news-events-list .item .item-content .info-line .count-views {
  height: 15px;
  margin-left: 16px;
  padding-left: 25px;
  background: url("../images/sprite.png") no-repeat -141px -24px;
}
.last-news .item .item-content .info-line .place-event,
.interesting-events .item .item-content .info-line .place-event,
.news-events-list .item .item-content .info-line .place-event {
  text-decoration: none;
}
.last-news .item .item-content .info-line .place-event .place-icon,
.interesting-events .item .item-content .info-line .place-event .place-icon,
.news-events-list .item .item-content .info-line .place-event .place-icon {
  display: inline-block;
  width: 13px;
  height: 19px;
  vertical-align: top;
  background: url("../images/sprite.png") no-repeat -145px -40px;
}
.last-news .item .item-content .info-line .place-event .place-text,
.interesting-events .item .item-content .info-line .place-event .place-text,
.news-events-list .item .item-content .info-line .place-event .place-text {
  display: inline-block;
  max-width: 200px;
  margin-left: 5px;
  vertical-align: top;
}
.last-news,
.interesting-events {
  width: 320px;
  margin-top: 47px;
}
.last-news .item.last-chield,
.interesting-events .item.last-chield {
  border-bottom: none;
}
.last-news .show-all,
.interesting-events .show-all {
  font-size: 0;
  line-height: 0;
  letter-spacing: -6px;
  display: inline-block;
  margin-top: 22px;
  padding: 0 17px 0 10px;
  text-decoration: none;
  letter-spacing: normal;
  background: #efefef;
}
.last-news .show-all .show-all-icon,
.interesting-events .show-all .show-all-icon {
  display: inline-block;
  width: 27px;
  height: 28px;
  margin-right: 5px;
  vertical-align: middle;
  background: url("../images/sprite.png") no-repeat -82px 0;
}
.last-news .show-all .show-all-text,
.interesting-events .show-all .show-all-text {
  display: inline-block;
  font: 16px pf_beausans_proregular;
  line-height: 40px;
  vertical-align: middle;
  letter-spacing: normal;
  color: #909090;
}
.last-news .show-all:hover,
.interesting-events .show-all:hover {
  background: #d8d8d8;
}
.last-news .show-all:hover .show-all-icon,
.interesting-events .show-all:hover .show-all-icon {
  background-position: -82px -31px;
}
.last-news {
  float: left;
}
.last-news .item .item-text {
  margin: 15px 0 11px;
}
.last-news .item .info-line {
  margin-bottom: 9px;
}
.interesting-events {
  margin-left: 360px;
}
.interesting-events .item .item-text {
  margin: 9px 0 11px;
}
.interesting-events .item .info-line {
  margin-bottom: 16px;
}
.news-events-list {
  width: 720px;
  margin-top: 26px;
}
.news-events-list .item {
  width: 320px;
  margin: 0 40px 20px 0;
}
.news-events-list .item .image-holder {
  width: 320px;
  height: 210px;
}
.news-events-list .item .image-holder img {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
.news-events-list .item .item-title {
  display: block;
  margin-top: 9px;
  font: 18px/24px segoe_ui_semibold;
  text-decoration: none;
  color: #086690;
}
.news-events-list .item .item-title:hover {
  text-decoration: underline;
}
.news-events-list .item .item-content {
  padding: 0 15px 9px;
}
.news-events-list .item .item-content .short-text {
  font: 14px/18px Arial, Helvetica, sans-serif;
  color: #505050;
  margin: 13px 0 7px;
  padding: 0;
}
.news-events-list .item .item-content .info-line {
  margin: 13px 0 0 -2px;
}
.news-events-list .item .item-content .info-line .date-add {
  margin-right: 0;
}
.news-events-list .item .item-content .info-line .place-event .place-icon {
  margin-top: -2px;
}
.news-events-list .item .item-content .date-event {
  margin-bottom: 12px;
}
.news-events-list .item .item-content .item-text {
  font: 18px/22px segoe_ui_semibold;
}
.news-events-list .item.out-img {
  border-bottom: none;
  background: #efefef;
}
.info-blocks-vnz {
  width: 280px;
  height: 410px;
}
.info-blocks-vnz .block {
  height: 130px;
  margin-bottom: 10px;
}
.info-blocks-vnz .block .title {
  padding-left: 10px;
  line-height: 40px;
  text-transform: uppercase;
}
.info-blocks-vnz .block .title .icon {
  display: inline-block;
  width: 27px;
  height: 27px;
  margin: -3px 5px 0 0;
  vertical-align: middle;
  background: url("../images/sprite.png") no-repeat;
}
.info-blocks-vnz .block .main-content {
  font: 20px/25px segoe_ui_regular;
  color: #ffffff;
  height: 90px;
}
.info-blocks-vnz .block .main-content .link {
  display: inline-block;
  overflow: hidden;
  height: 86px;
  padding: 4px 15px 0 15px;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
}
.info-blocks-vnz .block .main-content.light {
  font-family: segoe_ui_light;
}
.info-blocks-vnz .block .main-content.less-fs {
  font-size: 18px;
  line-height: 23px;
}
.info-blocks-vnz .block.about-vnz .title {
  background: #3d66da;
}
.info-blocks-vnz .block.about-vnz .title .icon {
  background-position: -1px -60px;
}
.info-blocks-vnz .block.about-vnz .main-content {
  background: #2b57d1;
}
.info-blocks-vnz .block.news-and-events .title {
  background: #f2b600;
}
.info-blocks-vnz .block.news-and-events .title .icon {
  background-position: -28px -60px;
}
.info-blocks-vnz .block.news-and-events .main-content {
  background: #e79e00;
}
.info-blocks-vnz .block.specialty .title {
  background: #3aafe2;
}
.info-blocks-vnz .block.specialty .title .icon {
  background-position: -57px -60px;
}
.info-blocks-vnz .block.specialty .main-content {
  background: #2d9ed0;
}
.info-blocks-vnz .block.for-enrollee .title {
  background: #6cbb27;
}
.info-blocks-vnz .block.for-enrollee .title .icon {
  background-position: -85px -60px;
}
.info-blocks-vnz .block.for-enrollee .main-content {
  background: #5daa1a;
}
.info-blocks-vnz .block.for-student .title {
  background: #ec385a;
}
.info-blocks-vnz .block.for-student .title .icon {
  background-position: -113px -60px;
}
.info-blocks-vnz .block.for-student .main-content {
  background: #d02545;
}
.info-blocks-vnz .block.distance-learning .title {
  background: #903abc;
}
.info-blocks-vnz .block.distance-learning .title .icon {
  background-position: -141px -60px;
}
.info-blocks-vnz .block.distance-learning .main-content {
  background: #7d28a9;
}
.info-blocks-vnz .block.partnership .title {
  background: #00a47c;
}
.info-blocks-vnz .block.partnership .title .icon {
  background-position: -168px -60px;
}
.info-blocks-vnz .block.partnership .main-content {
  background: #00906c;
}
.info-blocks-vnz .block:hover.about-vnz .title {
  background: #375cc4;
}
.info-blocks-vnz .block:hover.about-vnz .title .icon {
  background-position: -1px -87px;
}
.info-blocks-vnz .block:hover.about-vnz .main-content {
  background: #274ebc;
}
.info-blocks-vnz .block:hover.news-and-events .title {
  background: #d9a300;
}
.info-blocks-vnz .block:hover.news-and-events .title .icon {
  background-position: -28px -87px;
}
.info-blocks-vnz .block:hover.news-and-events .main-content {
  background: #cf8e00;
}
.info-blocks-vnz .block:hover.specialty .title {
  background: #349dcb;
}
.info-blocks-vnz .block:hover.specialty .title .icon {
  background-position: -57px -87px;
}
.info-blocks-vnz .block:hover.specialty .main-content {
  background: #288eb2;
}
.info-blocks-vnz .block:hover.for-enrollee .title {
  background: #58a417;
}
.info-blocks-vnz .block:hover.for-enrollee .title .icon {
  background-position: -85px -87px;
}
.info-blocks-vnz .block:hover.for-enrollee .main-content {
  background: #419414;
}
.info-blocks-vnz .block:hover.for-student .title {
  background: #d43251;
}
.info-blocks-vnz .block:hover.for-student .title .icon {
  background-position: -113px -87px;
}
.info-blocks-vnz .block:hover.for-student .main-content {
  background: #bb213e;
}
.info-blocks-vnz .block:hover.distance-learning .title {
  background: #7b30a2;
}
.info-blocks-vnz .block:hover.distance-learning .title .icon {
  background-position: -141px -87px;
}
.info-blocks-vnz .block:hover.distance-learning .main-content {
  background: #6a2191;
}
.info-blocks-vnz .block:hover.partnership .title {
  background: #008c6a;
}
.info-blocks-vnz .block:hover.partnership .title .icon {
  background-position: -168px -87px;
}
.info-blocks-vnz .block:hover.partnership .main-content {
  background: #007558;
}
.w-social-vnz {
  margin-top: 47px;
}
.w-social-vnz h2 {
  margin: 0 0 34px -2px;
}
.w-social-vnz h2 span {
  display: block;
  float: left;
  width: 53px;
  height: 54px;
  margin: -8px 10px 0 0;
  background: url("../images/sprite.png") no-repeat -157px -114px;
}
.email-subscribe {
  margin-top: 35px;
}
.email-subscribe h2 {
  margin: 0 0 14px -2px;
  line-height: 38px;
}
.email-subscribe h2 span {
  display: block;
  float: left;
  width: 51px;
  height: 51px;
  margin: -8px 10px 0 0;
  background: url("../images/sprite.png") no-repeat -105px -114px;
}
.email-subscribe form input[type="text"] {
  width: 224px;
  height: 28px;
  padding: 0 10px;
  font: 14px/28px Arial, Helvetica, sans-serif;
  color: #909090;
  border: 1px solid #d8d8d8;
  float: left;
  margin-right: 8px;
  padding-right: 5px;
}
.email-subscribe form input[type="text"]:hover,
.email-subscribe form input[type="text"]:active,
.email-subscribe form input[type="text"]:focus {
  border: 1px solid #bbbbbb;
}
.email-subscribe form button[type="submit"] {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding-top: 1px;
  border: none;
  background: #5daa1a url("../images/sprite.png") no-repeat -109px 0;
}
.email-subscribe form button[type="submit"]:hover {
  background: #549917 url("../images/sprite.png") no-repeat -109px -29px;
}
.phone-button {
  margin: 50px auto;
}
footer {
  clear: both;
  overflow: hidden;
  margin-top: 38px;
}
footer .footer-nav {
  width: 100%;
  height: 240px;
  margin-bottom: -4px;
  padding: 22px 30px 29px;
  background: #efefef;
}
footer .footer-nav .footer-nav-vnz .level1 {
  float: left;
  width: 195px;
}
footer .footer-nav .footer-nav-vnz .level1 h5 {
  margin-bottom: 9px;
}
footer .footer-nav .footer-nav-vnz ul > li {
  display: inline-block;
}
footer .footer-nav .footer-nav-vnz ul > li .level2 ul > li {
  display: block;
}
footer .footer-nav .footer-nav-vnz ul > li .level2 ul > li a {
  font: 14px/25px Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #909090;
}
footer .footer-nav .footer-nav-vnz ul > li .level2 ul > li a:hover {
  text-decoration: underline;
}
footer .footer-nav .footer-nav-vnz h5 {
  font: 14px segoe_ui_semibold;
  text-transform: uppercase;
  color: #404040;
}
footer .status-line-vnz {
  clear: both;
  margin-bottom: 25px;
  padding: 25px 30px;
}
footer .status-line-vnz ul > li {
  font: 14px Arial, Helvetica, sans-serif;
  color: #909090;
  display: inline-block;
  float: left;
}
footer .status-line-vnz ul > li .copyright-vnz {
  margin-right: 73px;
}
footer .status-line-vnz ul > li .copyright-vnz a,
footer .status-line-vnz ul > li .developers a {
  text-decoration: none;
  color: #0364af;
}
footer .status-line-vnz ul > li .copyright-vnz a:hover,
footer .status-line-vnz ul > li .developers a:hover {
  text-decoration: underline;
}
footer .status-line-vnz ul > li .copyright-vnz span,
footer .status-line-vnz ul > li .developers span {
  display: block;
  line-height: 20px;
}
footer .status-line-vnz ul > li .social-share {
  margin: 5px 90px 0 0;
}
footer .status-line-vnz ul > li .social-share .vk-vnz,
footer .status-line-vnz ul > li .social-share .fb-vnz {
  width: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
footer .status-line-vnz ul > li .vk-vnz {
  float: left;
  text-indent: -9999px;
  background: #3aa7d6 url("../images/sprite.png") no-repeat -178px 3px;
}
footer .status-line-vnz ul > li .vk-vnz:hover {
  background-color: #2d9ed0;
}
footer .status-line-vnz ul > li .fb-vnz {
  margin-left: 35px;
  text-indent: -9999px;
  background: #5b78bb url("../images/sprite.png") no-repeat -205px 3px;
}
footer .status-line-vnz ul > li .fb-vnz:hover {
  background-color: #4462a8;
}
.one-news-events {
  width: 680px;
}
.one-news-events h2 {
  margin-left: 20px;
}
.one-news-events .header-one-news-events {
  margin-top: 35px;
}
.one-news-events .header-one-news-events .main-photo {
  float: left;
  margin: 0 25px 25px 0;
}
.one-news-events .header-one-news-events .main-photo img {
  display: block;
}
.one-news-events .info-one-news-events {
  float: left;
  width: 330px;
}
.one-news-events .info-one-news-events .description-one-news-events p {
  margin: 0;
  padding: 0;
  font: 18px pf_beausans_proregular;
  color: #de9d00;
}
.one-news-events .content-one-news-events {
  clear: left;
}
.one-news-events .content-one-news-events p {
  margin: 0;
  padding: 0;
  font: 14px Arial, Helvetica, sans-serif;
  text-indent: 20px;
  color: #505050;
}
